.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure the wrapper takes up at least the full height of the viewport */
}

.content {
    flex-grow: 1; /* Allow content to grow and push footer to the bottom */
}

/* Additional styling as needed */
.jumbotron {
    background-color: #f8f9fa;
    padding: 2rem;
}

.footer {
    background-color: #343a40;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}

.feature-body{
    margin-top:60px;
    padding-top: 50px;
    padding-bottom: 50px;
}


.about-text {
    font-size: 1.2rem;
    line-height: 1.6;
}
